.Rproj.user
.Rhistory
.RData
=======
# History files
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# data
data/
data-raw/*.zip
data-raw/*.csv
data-raw/*.ff
*.csv
*.zip
*.rds

#install files
#inst/*
inst/doc

#Don't include models
inst/

